<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>Sri Divya Sai Software Solutions - SDSSS</h3>
        <h2 class="section-title">We acheive your Business through our software development</h2>
        <p class="section-subtitle">
          This is the company where you can get the business solutions through our software,
          we also help you to expand your business in technology and helps you to give you a very
          good user friendly experience through our software.
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bookmark-o fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Technologies we use</h4>
          <p>
            Our Entire Development procedure follows on Open Source JavaScript frameworks to develop 
            the applications at it's robust.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Easy to Use with best security</h4>
          <p>
            We develop user friendly based client required application as per their business requirement, We see that the user is very happy and clear on where and what with complete security.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tablet fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Frequent updates</h4>
          <p>
            As day changes we need to update on new things, we update and design your applications to the current trend and provide you a best experience.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-rocket fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Code to Cloud</h4>
          <p>
            We see that your applications work anywhere in this world, until or unless you are connected to internet.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->
    </div>
  </div>
</section>
<!--End of Introduction-->
